{% extends "base.html" %}

{% block content %}
<h2>Welcome to MVR Reviews. This website is dedicated to post honest reviews about Movies and Games that are avalible.</h2>
<div class="container">
    <p><br> Add a Review and tell us how you feel about certain games and movies!</br></p>
    {% if session['username'] %}
        <br>
        <p>Hello {{ session['username'] }}</p>

        <!-- -------------------- -->
        <!-- New code starts here -->
        <!-- -------------------- -->
        <a href="/add"><button>Add Review</button></a>
        <!-- -------------------- -->
        <!-- New code ends here   -->
        <!-- -------------------- -->
    {% endif %}

</div>

<br>

<table class="review_table">

    <thead>
        <th>Date</th>
        <th>Reviewer's Names</th>
        <th>Movies/Games</th>
        <th>Rating</th>
        <th>Comments</th>
    </thead>

    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review['date'] }}</td>
            <td>{{ review['username'] }}</td>
            <td>{{ review['game'] }}</td>
            <td>{{ review['score'] }}</td>
            <td>{{review['comments']}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
