{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- This line blocks cross site scripting -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">

    <title>MVR Reviews</title>

    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="manifest" href="static/manifest.json" />
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
</head>
<body>
    <h1 class=>Welcome to the Instructions page.</h1>
    <ul>
        <li>Register and Make an acount if you don't have one already.</li>
        <li>To add a review Log in.</li>
        <li>Post your review with a Rating.</li>
        <li>Make sure to leave a comment!</li>
        <li>Click on the "Add review" button </li>
    </ul>
    
</body>
    
</html>
{% endblock %}